.header__container {
  width: 100%;
  max-width: 1024px;
  height: 40px;
  position: absolute;
  top: 53px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  z-index: 200;
}

.header__left {
  display: flex;
}

.header__left__logo {
  margin-right: 45px;
}

.header__left__nav>li {
  margin-right: 29px;
  font-size: 15px;
  color: #9e9aa8;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.header__left__nav>li:hover {
  color: black;
}

.header__right__btn__container>li {
  margin-left: 37px;
  font-size: 15px;
  line-height: 22px;
  color: #9e9aa8;
  cursor: pointer;
}

.header__right__btn__container>li:first-child:hover {
  color: black;
}

@media only screen and (max-width: 1030px) {
  .header__container {
    top: 0vh;
    visibility: hidden;
    opacity: 0;
    right: 0%;
    left: unset;
    transform: none;
    transition: all 0.3s ease-in;
    background-color: #3a305481;
    height: 100vh;
    max-width: 100vw;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 100px;
    justify-content: flex-start !important;
    align-items: inherit !important;
    transform-origin: top right;
    transform: scale(0);
  }

  .header__left {
    flex-direction: column;
  }

  .header__left__logo {
    display: none;
  }

  .header__left__nav {
    flex-direction: column;
    border-bottom: 1px solid white;
    padding-bottom: 30px;
    background: #3a3054;
    padding: 53px;
    justify-content: space-around;
    border-radius: 5px;
    height: 247px;
  }

  .header__right__btn__container {
    flex-direction: column;
    padding: 40px;
    background-color: #3a3054;
    border-radius: 5px;
    margin-top: 20px;
  }

  .header__left__nav>li {
    margin-right: 0;
    margin-top: 0px;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
  }

  .header__right__btn__container>li {
    margin-left: 0;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    cursor: pointer;
    margin-bottom: 24px;
  }

  .menu-is-open {
    visibility: visible;
    opacity: 1;
    transform: scale(1);

  }
}